.avatar-edit{
    background-color: black;
    position: relative;
}
.avatar-edit input[type="file"]{
    display: none;
}
.avatar-edit img{
    max-width: 100%;
}
.avatar-edit:hover img{
    opacity: 0.5;
}
.avatar-edit:hover::after{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: calc(50% - 6pt);
    display: block;
    color: white;
    content: "Изменить";
    text-align: center;
    background: none;
    margin-top: -100%;
    font-size: 12pt;
}